.add-button {
  @include add-button;
  @include size(42px);
  position: relative;
  border-radius: 50%;
  transition: all .3s;
  cursor: pointer;
  z-index: 10;

  &--rotate {
    transform: rotate(45deg);
  }
}