.context-menu {
  background: white;
  border: solid 1px rgba(102, 102, 102, .4);
  padding-top: 10px;
  padding-bottom: 10px;

  &-wrapper {
    position: absolute;
    width: 140px;
    z-index: 2;
  }

  @mixin menu {
    height: 30px;
    padding: 6px 14px;
    font-size: 13px;
    text-align: left;
    cursor: pointer;

    &:hover {
      background-color: rgba(153, 153, 153, 0.1);
    }
  }

  &-text {
    @include menu;

    &__divider {
      height: 1px;
      border-top: 1px solid $color-light-grey;
      margin: 5px 0;
    }
  }
}