$color-light-purple: #5c65c0;
$color-primary-text: #666666;
$color-sub-text: #777777;
$color-light-grey: #eeeeee;
$color-highlight-blue: #2e3ab2;
$color-black-text: #333333;
$color-primary-system: #666666;
$color-accent-sub: #7e86d1;
$color-accent-text: #2e3ab2;
$color-accent-focus: rgba(92, 101, 192, 0.3);
$color-hover-background: rgba(0,0,0, 0.1);
$color-sub-bg: #f6f6f6;
$color-dim-bg: #f9f9f9;
$color-reversed: #ffffff;
$color-line-main: #d8d8d8;
$color-line-sub: #eeeeee;
$color-dim: #c7c7c7;
$color-black: #000000;
$color-invalid: #db2828;
$color-system: #666666;
$color-hover: rgba(153, 153, 153, 0.1);
$color-hover-background: rgba(0, 0, 0, 0.1);
$search-background: #f2f2f2;
$accent-text-dim : #c0c3e7;
$color-accent: #5c65c0;
$color-info-text: #bbbbbb;
$color-dark-periwinkle: #7e86d1;
$color-warning-border: #ef6144;
$color-iris: #5c65c0;
$color-body-guide: #999999;
$color-warning: #ef6144;
$color-setting-tags-background: #f2f2f2;